{% extends "app/layout.html" %}

{% block content %}

<div class="jumbotron">
    <img style="display:block;margin-left:auto;margin-right:auto;" src="../../static/app/images/cdaf.png" />
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Windows</h2>
        <p>Requires Windows Management Framework 3 or above and .NET 4 or above.</p>
        <p><a class="btn btn-default" href="../../static/app/downloads/WU-CDAF-2.4.3.zip">Download (Zip)</a></p>
    </div>
    <div class="col-md-4">
        <h2>Linux and OSX</h2>
        <p>Tested on CentOS, Ubuntu and Mac OS.</p>
        <p><a class="btn btn-default" href="../../static/app/downloads/LU-CDAF-2.4.3.zip">Download (Zip)</a></p>
        <p><a class="btn btn-default" href="../../static/app/downloads/LU-CDAF-2.4.3.tar.gz">Download (Gzip)</a></p>
    </div>
    <div class="col-md-4">
        <h2>Getting Started Guides</h2>
        <p>Quick start guides for Linux and Windows</p>
        <p><a class="btn btn-default" href="/linux.html">Linux Quick Start &raquo;</a></p>
        <p><a class="btn btn-default" href="/windows.html">Windows Quick Start &raquo;</a></p>
    </div>
</div>

{% endblock %}
