{% extends "app/layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>

<p>{{ message }}</p>

<h3>Production-Like Environment Using Vagrant and VirtualBox (Recommended)</h3>

<p>By using the included Vagrant file, a quickstart environment can be created from the CDAF package.</p>

<img src="app/images/WU-CDM.png" />

<h3>Desktop Execution</h3>

<p\><p>Requires Windows 7 SP1 / Windows Server 2008 R2 or above. For Windows 7 SP1 or Windows Server 2008 R2, additional prerequisite of Windows Management Framework v3 or above, and .NET 4 or above. To support loopback testing on localhost, enable Remote PowerShell (WinRM)</p>

<p\><p>Create a workspace, download and extract CDAF to the root of the workspace. For Visual Studio, the root will be the solution root. For Eclispe, this is the Eclispe workspace root.</p>
<p>To validate the download framework, open an elevated powershell session and navigate to the workspace.</p>

<div title="Obtain" class="container" style="border:1px solid #cecece;">
    <div>
    <code>. { iwr -useb http://cdaf.io/static/app/downloads/cdaf.ps1 } | iex</code>
    </div>
    <div>
    <code>.\automation\provisioning\runner.bat .\automation\remote\capabilities.ps1</code>
    </div>
</div>

<h3>Apply to Solution</h3>

<p/><p>Initialise the solution run the emulator</p>

<div title="Initialise workspace" class="container" style="border:1px solid #cecece;">
    <div>
    <code>mkdir automation-solution</code>
    </div>
    <div>
    <code>cp .\automation\solution\CDAF.solution .\automation-solution</code>
    </div>
    <div>
    <code>.\automation\cdEmulate.bat</code>
    </div>
</div>

<p/><p>Create a build task in the a project directory (name is Project in this example)</p>

<div title="Execute first build" class="container" style="border:1px solid #cecece;">
    <div>
    <code>mkdir Project</code>
    </div>
    <div>
    <code>echo 'REMOVE bin' > Project/build.tsk</code>
    </div>
    <div>
    <code>echo 'EXITIF $ACTION -eq "clean"' >> Project/build.tsk</code>
    </div>
    <div>
    <code>echo '# Following will be executed when ACTION is clean' >> Project/build.tsk</code>
    </div>
    <div>
    <code>echo 'PROPLD ../$SOLUTIONROOT/CDAF.solution' >> Project/build.tsk</code>
    </div>
    <div>
    <code>.\automation\cdEmulate.bat</code>
    </div>
</div>

<p/><p>Once the Project Build is validated, gather the resulting artefacts for packaging. Create a the artefact definition file in your solution.</p>

<div title="Artefacts for packaging" class="container" style="border:1px solid #cecece;">
    <div>
    <code>echo '# Placeholder File for TasksLocal' > automation-solution/storeForRemote</code>
    </div>
    <div>
    <code>.\automation\cdEmulate.bat</code>
    </div>
</div>

<p/><p>Copy and add the target definitions (Windows, Workgroup and Vagrant) to the solution and define a task to perform on the target.</p>

<div title="Local Target Templates" class="container" style="border:1px solid #cecece;">
    <div>
    <code>cp ./automation/solution/propertiesForLocalTasks ./automation-solution -Recurse</code>
    </div>
    <div>
    <code>echo 'dir' > automation-solution/tasksRunLocal.tsk</code>
    </div>
    <div>
    <code>echo 'dir' > automation-solution/tasksRunRemote.tsk</code>
    </div>
    <div>
    <code>.\automation\cdEmulate.bat</code>
    </div>
</div>
    
<h3>Remote Deployment (using loopback)</h3>

<p\><p>This can only be used for on-domain hosts. One-off provisioning for "remote" connection to localhost.</p>

<div title="Provision" class="container" style="border:1px solid #cecece;">
    <div>
    <code>winrm quickconfig</code>
    </div>
    <div>
    <code>.\automation\provisioning\runner.bat .\automation\provisioning\CredSSP.ps1 client</code>
    </div>
</div>

<p\><p>Similar to local artefacts, create a remote artefacts definition file.</p>

<div title="Artefacts for packaging" class="container" style="border:1px solid #cecece;">
    <div>
    <code>echo '# Placeholder File will trigger zip file creation from TasksRemote' > automation-solution/storeForRemote.</code>
    </div>
    <div>
    <code>.\automation\cdEmulate.bat</code>
    </div>
</div>

<p\><p>Copy and add the target definitions (Windows and Vagrant only) to the solution and define a task to perform on the target.</p>

<div title="Remote Target Templates" class="container" style="border:1px solid #cecece;">
    <div>
    <code>cp ./automation/solution/propertiesForRemoteTasks ./automation-solution -Recurse</code>
    </div>
    <div>
    <code>echo 'dir' > automation-solution/tasksRunRemote.tsk</code>
    </div>
    <div>
    <code>.\automation\cdEmulate.bat</code>
    </div>
</div>

<h1>Incremental Database </h1>

<p/><p>Simple imcrimental script runner (requires .NET 4 or above).</p>
<p><a class="btn btn-default" href="app/downloads/Database.exe">Database.exe</a></p>

{% endblock %}
